        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        html {
            font-family: Arial, Helvetica, sans-serif;
            scroll-behavior: smooth;
        }
        
        .row {
            margin-left: -8px;
            margin-right: -8px;
        }
        
        .row ::after {
            content: "";
            display: block;
            clear: both;
        }
        
        .col {
            float: left;
            padding-left: 8px;
            padding-right: 8px;
        }
        
        .col-half {
            width: 50%;
        }
        
        .col-full {
            width: 100%;
        }
        
        .col-third {
            width: 33.33%;
        }
        
        .text-center {
            text-align: center !important;
        }
        
        .clear {
            clear: both;
        }
        
        .text-white {
            color: #fff !important;
        }
        
        .mt-8 {
            margin-top: 8px !important;
        }
        
        .mt-16 {
            margin-top: 16px !important;
        }
        
        .mt-32 {
            margin-top: 32px !important;
        }
        
        .pull-right {
            float: right;
        }
        
        .btn {
            color: #fff;
            background-color: #000;
            text-decoration: none;
            padding: 11px 16px;
            display: inline-block;
            margin-top: 15px;
            border: none;
            text-align: center;
            -webkit-appearance: none;
        }
        
        #main {}
        
        #header {
            height: 46px;
            background-color: black;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;
        }
        
        #nav,
        .subnav {
            list-style-type: none;
        }
        
        #nav {
            display: inline-block;
        }
        
        #nav>li {
            display: inline-block;
        }
        
        #nav li {
            position: relative;
        }
        
        #nav li a {
            text-decoration: none;
            line-height: 46px;
            padding: 0 24px;
            display: block;
            position: relative;
        }
        
        #nav li:hover .subnav {
            display: block;
        }
        
        #nav .subnav li:hover,
        #nav>li:hover>a {
            color: black;
            background-color: #ccc;
        }
        
        #nav>li>a {
            color: #fff;
            text-transform: uppercase;
        }
        
        #nav .subnav {
            display: none;
            position: absolute;
            background-color: white;
            box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
            min-width: 160px;
            top: 100%;
        }
        
        #nav .subnav a {
            color: black;
            padding: 0 12px;
            line-height: 38px;
        }
        
        #nav i.ti-angle-down {
            font-size: 14px;
        }
        
        #header .mobile-menu-btn,
        #header .search-btn {
            color: #fff;
            font-size: 20px;
            float: right;
            line-height: 46px;
            padding: 0px 22px;
            cursor: pointer;
        }
        
        #header .mobile-menu-btn {
            position: absolute;
            top: 0;
            right: 0;
            display: none;
        }
        
        #header .search-btn:hover {
            background-color: #f44336;
            cursor: pointer;
        }
        
        #header .mobile-menu-btn:hover {
            background-color: #ccc;
        }
        
        #header .mobile-menu-btn:hover .menu-icon {
            color: #000;
        }
        
        #slideshow {
            margin-top: 46px;
        }
        
        #slideshow img {
            vertical-align: middle;
            width: 100%;
        }
        
        #slideshow .slide-item {
            position: relative;
        }
        
        #slideshow .slide-content {
            color: #fff;
            text-align: center;
            text-shadow: 0 0 3px #000;
            line-height: 1.5;
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            padding: 32px 16px;
        }
        /* .slider {
            position: relative;
            background-color: rgb(250, 248, 248);
            padding-top: 50%; */
        /* 50% chieu ngang cua chinh no */
        /* margin-top: 46px;
            display: block !important;
            background: url('/assets/img/chicago.jpg') top center /cover no-repeat;
        }
        
        .slider .text-content {
            position: absolute;
            bottom: 47px;
            color: #fff;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
        
        .slider .text-heading {
            font-weight: 500;
            font-size: 24px;
        }
        
        .slider .text-description {
            font-size: 15px;
            margin-top: 25px;
        } */
        
        #content {}
        
        #content .content-section {
            padding: 64px 0 112px;
            width: 800px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 16px;
            padding-right: 16px;
        }
        
        #content .section-heading {
            font-weight: 500;
            font-size: 30px;
            text-align: center;
            letter-spacing: 4px;
        }
        
        #content .section-subheading {
            font-size: 15px;
            margin-top: 25px;
            text-align: center;
            font-style: italic;
            opacity: 0.6;
        }
        
        #content .about-text {
            font-size: 15px;
            margin-top: 25px;
            text-align: justify;
            line-height: 1.4;
        }
        
        #content .members-list {
            margin-top: 32px;
        }
        
        #content .members-name {
            font-size: 15px;
        }
        
        #content .members-img {
            width: 154px;
            margin-top: 15px;
            border-radius: 5px;
        }
        /* tour section */
        
        .tour-section {
            background-color: black;
            margin-top: 40px;
        }
        
        .ticket-list {
            background-color: #fff;
            margin-top: 40px;
            list-style: none;
        }
        
        .ticket-list li {
            color: rgba(73, 71, 73, 0.829);
            font-size: 15px;
            padding: 11px 16px;
            border-bottom: 1px solid #ddd;
        }
        
        .ticket-list .sold-out {
            color: hsl(0, 0%, 100%);
            background-color: #f44336;
            padding: 3px 4px;
            margin-left: 16px;
        }
        
        .ticket-list .quantity {
            float: right;
            width: 24px;
            height: 24px;
            font-size: 15px;
            background-color: #000;
            color: #ffffff;
            border-radius: 50%;
            text-align: center;
            line-height: 24px;
            margin-top: -3px;
        }
        /* place */
        
        .place-list {
            margin: 32px -8px;
        }
        
        .place-item {
            float: left;
            width: 33.3333%;
            padding: 0 8px;
        }
        
        .place-img:hover {
            opacity: 0.6;
        }
        
        .place-img {
            width: 100%;
            display: block;
        }
        
        .place-content {
            background-color: #fff;
            padding: 16px;
            font-size: 15px;
        }
        
        .place-heading {
            font-size: 15px;
            font-weight: 600;
        }
        
        .place-time {
            margin-top: 15px;
            color: #757575;
            line-height: 1.4;
        }
        
        .place-description {
            margin-top: 15px;
        }
        
        .btn:hover {
            color: #000;
            background-color: #ccc;
            cursor: pointer;
        }
        /* footer section */
        
        #footer {}
        /* modal */
        
        .modal {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.4);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
        }
        
        .modal.open {
            display: flex;
        }
        
        .modal-container {
            background-color: #fff;
            width: 900px;
            max-width: calc( 100% - 32px);
            min-height: 200px;
            position: relative;
            animation: modalFadeIn ease 0.5s;
        }
        
        .modal-header {
            background: #009688;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            color: #fff;
        }
        
        .modal-heading-icon {
            margin-right: 18px;
        }
        
        .modal-close {
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
            padding: 16px;
            cursor: pointer;
            opacity: 0.8;
        }
        
        .modal-close:hover {
            opacity: 1;
            background-color: #ccc;
            color: #ddd;
        }
        
        .modal-body {
            padding: 16px;
        }
        
        .modal-label {
            display: block;
            font-size: 15px;
            margin-bottom: 12px;
        }
        
        .modal-input {
            border: 1px solid #ccc;
            width: 100%;
            padding: 10px;
            font-size: 15px;
            margin-bottom: 20px;
        }
        
        #buy-tickets {
            background: #009688;
            border: none;
            color: #fff;
            width: 100%;
            text-transform: uppercase;
            cursor: pointer;
            padding: 18px;
            font-size: 15px;
        }
        
        #buy-tickets:hover {
            opacity: 0.8;
        }
        
        .modal-footer {
            float: right;
            padding: 16px;
        }
        
        .modal-footer a {
            color: #2196F3;
        }
        
        @keyframes modalFadeIn {
            from {
                opacity: 0;
                transform: translateY(-150px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        /* contact */
        
        .contact-content {
            margin-top: 48px;
        }
        
        .contact-info {
            font-size: 18px;
            line-height: 1.5;
        }
        
        .contact-info i[class*="ti-"] {
            width: 30px;
            display: inline-block;
        }
        
        .contact-form {
            font-size: 15px;
        }
        
        .contact-form .form-control {
            padding: 10px;
            border: 1px solid #ccc;
            width: 100%;
            outline: none;
        }
        /* map*/
        
        .map-section img {
            width: 100%;
            margin-top: 60px;
        }
        /* footer */
        
        #footer {
            padding: 64px 16px;
            text-align: center;
        }
        
        .social-list {
            font-size: 20px;
        }
        
        .social-list a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.8);
        }
        
        .copy-right a:hover,
        .social-list a:hover {
            color: rgba(0, 0, 0, 0.4);
        }
        
        #footer .copy-right {
            margin-top: 15px;
            color: rgba(0, 0, 0, 0.6);
        }
        
        .copy-right a {
            color: rgba(0, 0, 0, 0.6);
        }
        
        @media (max-width:64em) and (min-width:46.25em) {
            .btn {
                padding: 15px 16px;
            }
            .contact-form .form-control {
                padding: 15px;
                font-size: 17px;
            }
            .contact-info {
                line-height: 2;
            }
            .social-list {
                font-size: 48px;
            }
            #footer .social-list a {
                margin: 0 8px;
            }
            #footer .copy-righ {
                padding: 12px 0;
                display: inline-block;
            }
            #nav .subnav a {
                color: #fff;
                padding: 5px 12px;
            }
            .contact-submit-btn {
                font-size: 17px;
            }
        }
        
        @media (max-width: 46.1875em) {
            #header {
                overflow: hidden;
            }
            #nav {
                display: block;
            }
            #nav>li {
                display: block;
            }
            #nav>li:first-child {
                display: inline-block;
            }
            #header .mobile-menu-btn {
                display: block;
            }
            #header .search-btn {
                display: none;
            }
            #nav .subnav {
                position: initial;
                background-color: #333;
            }
            #nav .subnav a {
                color: #fff;
                padding: 5px 42px;
            }
            #content .members-img {
                width: 60%;
            }
            .s-full-width,
            .s-col-full {
                width: 100%;
            }
            .contact-form {
                margin-top: 32px;
            }
            .s-mt-8 {
                margin-top: 8px;
            }
            .contact-info {
                line-height: 2;
            }
        }